@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #232427;
}
.title{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #BDBDBD;
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 10px 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20 px 0;
}
.container .card{
    position: relative;
    min-width: 544px;
    height: 544px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .card .box img{
    position: absolute;
    left: 20px;
    top: 80px;
    max-width: 460px;
}
.container .card .box h1{
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 95px;
    margin: 20px;
    color: #999999;
}
.container .card .box p{
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
}
.container .card .box a{
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background: #7e7e7e;
    text-decoration: none;
    padding: 20px;
    position: relative;
    top: 60px;
    margin: 20px;
}

.author{
    position: absolute;
    left: 670px;
    top: 700px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

@media (max-width: 900px){
    .title{
        position: relative;
        left: -280px;
    }
    .author{
        left: 240px;
        top: 1250px;
    }
}